:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

@media (min-width: 600px) {
  :root {
    font-size: 15px;
  }
}

@media (min-width: 960px) {
  :root {
    font-size: 16px;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
